.card-container {
  perspective: 1000px;
  width: 100%;
  aspect-ratio: 3 / 4;
  height: auto;
  container-type: inline-size;
}


.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.2s ease;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Reverso */
.card-back {
  background-color: #118663;
  background-image:
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      rgba(255, 255, 255, 0.15) 10px,
      rgba(255, 255, 255, 0.15) 20px
    ),
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 10px,
      rgba(255, 255, 255, 0.15) 10px,
      rgba(255, 255, 255, 0.15) 20px
    );
}

.card-back-border {
  position: absolute;
  inset: 8px;
  border: 4px solid rgba(255, 255, 255, 0.4);
  border-radius: 6px;
}

.card-front {
  transform: rotateY(180deg);
}
