<div class="card-container" (click)="flipRequest.emit()">
  <div class="card-inner" [style.transform]="isFlipped() ? 'rotateY(180deg)' : 'rotateY(0deg)'">
    <!-- REVERSO -->
    <div class="card-face card-back rounded-2xl shadow">
      <div class="card-back-border"></div>
    </div>

    <!-- ANVERSO -->
    <div class="card-face card-front bg-stone-50 rounded-xl shadow flex flex-col relative">
      <div class="absolute top-[4%] left-[4%] flex flex-col items-center">
        <span
          style="font-size: 12cqi; line-height: 1"
          class="{{ suit() == 'H' || suit() == 'D' ? 'text-red-600' : 'text-black' }} font-bold"
          >{{ value() }}</span
        >
        <img style="width: 10cqi" src="suits/{{ suit() }}.png" alt="{{ suit() }}" />
      </div>
      <div class="flex-1 relative" style="margin: 15% 10%">
        @if (value() === 'J' || value() === 'Q' || value() === 'K') {
          <img
            src="figures/{{ suit()! + value()! }}.png"
            alt=""
            class="w-full h-full object-contain"
          />
        } @else {
          <div
            class="w-full h-full grid"
            style="grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(5, 1fr)"
          >
            @for (pip of pipPositions(); track $index) {
              <img
                src="suits/{{ suit() }}.png"
                alt="{{ suit() }}"
                style="width: 18cqi; height: 18cqi"
                class="place-self-center"
                [style.grid-column]="pip[0]"
                [style.grid-row]="pip[1]"
              />
            }
          </div>
        }
      </div>
      <div class="absolute bottom-[4%] right-[4%] flex flex-col items-center rotate-180">
        <span
          style="font-size: 12cqi; line-height: 1"
          class="{{ suit() == 'H' || suit() == 'D' ? 'text-red-600' : 'text-black' }} font-bold"
          >{{ value() }}</span
        >
        <img style="width: 10cqi" src="suits/{{ suit() }}.png" alt="{{ suit() }}" />
      </div>
    </div>
  </div>
</div>
