:host {
  display: block;
  width: 100%;
}

.card-anim-wrapper {
  position: relative;
  z-index: 1;
}

.deal-anim {
  animation: dealFromCorner 0.6s cubic-bezier(0.4, 1.4, 0.6, 1) both;
}

@keyframes dealFromCorner {
  0% {
    transform: translate(200px, 200px) scale(0.2) rotate(80deg);
    opacity: 0;
  }
  60% {
    opacity: 1;
    transform: translate(-5px, 5px) scale(1.1) rotate(-1deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.shiny {
  clip-path: inset(0 round 8px);
}


