:host {
  display: block;
  width: 100%;
  font-family: 'Bebas Neue';
}

.card-anim-wrapper {
  position: relative;
  z-index: 1;
}

.deal-anim {
  animation: dealFromCorner 0.6s cubic-bezier(0.4, 1.4, 0.6, 1) both;
}

@keyframes dealFromCorner {
  0% {
    transform: translate(200px, 200px) scale(0.2) rotate(80deg);
    opacity: 0;
  }
  60% {
    opacity: 1;
    transform: translate(-5px, 5px) scale(1.1) rotate(-1deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.shiny {
  clip-path: inset(0 round 8px);
}

@keyframes rumble {
  0% {
    transform: translateX(8px) translateY(-6px) rotate(-2deg);
  }
  10% {
    transform: translateX(-7px) translateY(7px) rotate(2deg);
  }
  20% {
    transform: translateX(6px) translateY(-8px) rotate(-1deg);
  }
  30% {
    transform: translateX(-8px) translateY(6px) rotate(1deg);
  }
  40% {
    transform: translateX(7px) translateY(-7px) rotate(-2deg);
  }
  50% {
    transform: translateX(-6px) translateY(8px) rotate(2deg);
  }
  60% {
    transform: translateX(8px) translateY(-6px) rotate(-1deg);
  }
  70% {
    transform: translateX(-7px) translateY(7px) rotate(1deg);
  }
  80% {
    transform: translateX(6px) translateY(-8px) rotate(-2deg);
  }
  90% {
    transform: translateX(-8px) translateY(6px) rotate(2deg);
  }
  100% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
}



.rumble {
  animation: rumble forwards 0.15s;
}

